{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
        <p class="lead">{{welcome_message}}</p>
        <p><a href="/quotes/">Quotes</a></p>
        <p><a href="/quotes/random/">Random Quote</a></p>
</div>
{% endblock content %}
