<!DOCTYPE html>
<html lang="{{request.locale_name}}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="guru-challenge">
        <meta name="author" content="guru-challenge">
        <link rel="shortcut icon" href="{{request.static_url('geruchallenge:static/pyramid-16x16.png')}}">

        <title>Desafio Web 1.0</title>

        <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/">

        <!-- Bootstrap core CSS -->
        <link href="{{request.static_url('geruchallenge:static/css/bootstrap.min.css')}}" rel="stylesheet">
    </head>
    <body>
        <!-- Begin page content -->
        <main role="main" class="container">
            <h1 class="mt-5">Desafio Web 1.0</h1>
            <div class="row">
                    {% block content %}
                        <p>No content</p>
                    {% endblock content %}
            </div>
        </main>
    </body>
</html>