{% extends "layout.jinja2" %}
{% block content %}
<div class="content">
    <ul>
        {% for quote in quotes %}
            <li>{{ quote }} - <a href="{{ loop.index0 }}">View</a></li>
        {% endfor %}
    </ul>
    <a href="javascript:history.back()">Back</a>
</div>
{% endblock content %}
