{% extends "layout.jinja2" %}
{% block content %}
<div class="content">
    <ul>
        <li>{{ quotes }}</li>
    </ul>
    <a href="javascript:history.back()">Back</a>
</div>
{% endblock content %}
